*{
    padding:0;
    margin:0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-color: rgb(32,34,56);
}
.ludo{
    width: 750px;
    height: 750px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;
    
}

.blue,.red,.yellow,.green{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
/*******color***************/
.blue{
    background-color:royalblue;
}
.red{
    background-color:red;
}
.yellow{
    background-color:yellow;
}
.green{
    background-color:green;
}

/**************box inside*****************/
.box{
    background-color: white;
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}
.box .insidebox{
    width: 60px;
    height: 60px;
    margin:20px;
}


/***********color***************/
.blueFont{
    color: royalblue;
}
.redFont{
    color: red;
}
.yellowFont{
    color: yellow;
}
.greenFont{
    color: green;
}

.blueBackground{
    background-color: royalblue;
}
.redBackground{
    background-color: red;
}
.yellowBackground{
    background-color: yellow;
}
.greenBackground{
    background-color: green;
}








/***********square box****************/
.square{
    width: 48px;
    height: 48px;
    border:1px solid black;
    font-size: 30px;
    text-align: center;
}
.squareContainer{
    display: flex;
}
.row{
    width:750px;
    height:150px;
   
    display: flex;
    justify-content: space-between;
}
.row1{
    display: flex;
}


/******************ludoCenter***************/
.ludoCenter{
    font-size: 100px;
    color:#ffd700;
    position: absolute;
    background-color: rgb(32,34,56);
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

}

